/* Cascadia Code Fonts */
@font-face {
    font-family: "Cascadia Code";
    src: local('Cascadia Code'),
    url("./CascadiaCode/CascadiaCode-Regular.woff2") format("woff2");
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Cascadia Code";
    src: local('Cascadia Code'),
    url("./CascadiaCode/CascadiaCode-Italic.woff2") format("woff2");
    font-display: swap;
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Cascadia Code";
    src: local('Cascadia Code'),
    url("./CascadiaCode/CascadiaCode-Bold.woff2") format("woff2");
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Cascadia Code";
    src: url("./CascadiaCode/CascadiaCode-BoldItalic.woff2") format("woff2");
    font-display: swap;
    font-weight: bold;
    font-style: italic;
}

/* HarmonyOS Sans SC */
@font-face {
    font-family: "HarmonyOS Sans SC";
    src: url('./HarmonyOS_Sans/HarmonyOS_Sans_SC_Regular.woff')format("woff");
    font-weight: normal;
}
@font-face {
    font-family: "HarmonyOS Sans SC";
    src: url('./HarmonyOS_Sans/HarmonyOS_Sans_SC_Bold.woff')format("woff");
    font-weight: bold;
}

/*快速自定义配置*/
:root {
    --monospace: "Cascadia Code", "HarmonyOS Sans SC"; /*代码字体*/
    --text-font: var(--monospace); /*正文字体*/
    --title-font: var(--monospace); /*标题字体*/
    --latex-font: var(--monospace); /*LaTeX字体(不含英语)*/
    --text-line-height: 1.6; /*正文行间距*/
    --code-line-height: 1.6; /*代码块行间距*/
    --p-spacing: 0.8rem; /*段间距*/
    --file-tree-text-size: 1.1rem; /*文件树大小*/
    --toc-text-size: 1rem; /*大纲大小*/
    --text-size: 14px; /*字体大小 推荐配置: 应用设置-外观-字体大小*/
}